body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #151D26;
  color: white

}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 30px;
}


/* Variables pour les couleurs */
:global(:root) {
  --bg-color-light: #f0f0f0;
  --bg-color-dark: #15202b;
  --color-white: #ffffff;
  --color-gray: #cccccc;
  --color-dark: #333333;
  --color-primary: #1DA1F2;
  --color-primary-hover: #0d8ae8;
  --bg-color-input: #192734;
}

