.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}

.logo {
width: 128px;
height: auto;
cursor: pointer;

}


.content {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 90vh;
  justify-content: space-around;
  align-items: top;
 
}


.leftContainer{
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20vw;
  height: 95vh;

}

.centerContainer{

  display: flex;
  flex-direction: column;
  border: white 1px;
  justify-content: flex-start;
  align-items: center;
  width: 50vw;



}

.rightContainer{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border: white 1px;
  justify-content: center;
  align-items: center;
  flex-basis: content;
  width: 20vw;
}

.newTweet{
  display:flex;
  margin: 20px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.inputHome {
  border: none;
  border-bottom: 1px white solid;
  border-radius: 2px;
  background-color: transparent;
  font-size: 25px;
  color: white;
  width: 50vw;
  height: 10vh
}

.inputHome:focus {
  border: none;
  border-bottom: 1px white solid;
  outline: none;
}

.buttonHome {

  border: white;
  color: white;
  background-color: #1A8CD8 ;
  margin-top: 15px;
  cursor: pointer;
  width: 80px;
  height: 30px;
  border-radius: 10%;
}

.buttonHome:hover {
  opacity: 0.7;
}

.carCount {
  margin-top: 15px;
  font-size: 20px;

}

.logoutContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: space-around;
}