.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}


.content {

  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
 
}


.leftContainer{
  display: flex;
  flex-direction: column;
  border: white 1px;
  justify-content: space-between;
  margin: 3vh;

}

.centerContainer{
  margin: 1vh;
  display: flex;
  flex-direction: column;
  border: white 1px;
  justify-content: flex-start;



}

.rightContainer{
  display: flex;
  flex-direction: column;
  border: white 1px;
  justify-content: flex-start;
  margin: 1vh;

}

.newTweet{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.inputHome {
  border: 1px white solid;
  border-radius: 2px;
  padding: 2px;
  background-color: transparent;
  color: white;
  width: 50vw;
  height: 5vh
}

.inputHome:focus {
  border: none;
  border-bottom: 1px white solid;
  outline: none;
}

.buttonHome {
  margin: 2px;
  border: white;
  color: white;
  background-color: #1A8CD8 ;
  cursor: pointer;
  width: 80px;
  height: 30px;
}

.buttonHome:hover {
  opacity: 0.7;
}

.carCount {
  margin: 1vh;
  font-size: 14px;

}

.logoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}