.authContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color-light);
    gap: 10px; 
  }
  
  .authCard {
    background-color: var(--input-bg-light);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
  }
  
  .authCard-dark {
    background-color: var(--bg-color-dark);
  }
  
  .authTitle {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--text-color);
  }
  
  .authTitle-dark {
    color: var(--text-color-dark);
    color: #ffffff;
  }
  
  .authInput {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
  }
  
  .authInput-dark {
    background-color: var(--input-bg-dark);
    color: white;
  }
  
  .authButton {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }

  .registerContainer {
    display: flex;
    flex-direction: column  ;
    height: 100vh;
  }