.tweetContainer {
    flex-basis: content;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    width: 50vw;
    height: 30vh;
    border: gray 1px solid
}

.profilePicture{
    margin: 10px;
    border-radius: 100%;
}

.topSection {
    margin-top: 30px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 30vw;
    
   
}


.iconSection {
    display: flex ;
    flex-basis: content;
    width: 2vh;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    align-items: center;

}



.userName {
margin: 10px;
font-weight: 1000%;
font-size: 20px;
}

.creationDate {
margin-bottom: 10px;
font-size: 15px;
color: gray;

}
.icon {
    
    margin-right: 10px;
    margin-left: 10px;
}

.tweetLabel {
    flex-basis: content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    margin-left: 30px;
    font-size: 15px;

}

.likeCount{
    font-size: 8px;
    color: grey;
    margin-right: 10px;
}